/* Border -- Coloured  */
p {
    border: 2px solid blue;
}

/* Content - width & height -- Blue Coloured in Chrome Inspector */
#a1 {
    width: 50%; 
    /*
        Here the width is 50% of the parent's content, 
        i.e., 50% of the total body
    */
    height: 40px;
}


/* Padding - Space on the inside of the border till the content -- Green Coloured in Chrome Inspector */
#a2 {
    padding: 10px;
    /* There'll be 10 pixels of padding on all the sides from content till border */
}

#a3 {
    padding-left: 40px;
}

/* Margin - Space on the Outside of the Border -- Coloured Peach-Orange in the Chrome Inspector */
#a4 {
    margin: 70px;
}

#a5 {
    margin-bottom: 90px;
}

/* short-hand rule specification */
#a6 {
    /* margin: top right bottom left*/
    margin: 20px 40px 60px 100px;
}

#a7 {
    /* to center an element, we use margin: 0 auto 0 auto */
    margin: 0 auto 0 auto;
    width: 50%
}

#a8 {
    /* to center an element, we can use an even shorter way to do it as follows: */
    margin: 0 auto;
    width: 50%;
}

#a9 {
/* 
    With the same syntax as mentioned above, we can add measurement (px or em)
    to both top and bottom at the same time as follows:
*/
    margin: 50px auto;
    width: 50%;
}

#a10 {
/* 
    With the same syntax as mentioned above, we can add measurement (px or em)
    to both top and bottom & left and right at the same time as follows:
*/
    margin: 50px 20px;
}